modules = ["flutter"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "basic_flutter"

[[workflows.workflow]]
name = "basic_flutter"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && flutter run -d web-server --web-port 5000 --web-hostname 0.0.0.0"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "flutter run -d web-server --web-port 5000 --web-hostname 0.0.0.0"]

[[ports]]
localPort = 5000
externalPort = 80
