modules = ["flutter", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]

[deployment]
run = ["sh", "-c", "flutter run -d web-server --web-port 5000 --web-hostname 0.0.0.0"]

[[ports]]
localPort = 5000
externalPort = 80
